/* .App {
  width: 100vw;
  height: 100vh;
} */

body{
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
  height: 100%;
}

.sidebar{
  height: 95%;
  width: 300px;
  background-color: #2F4050;
}



.css-pdct74-MuiTablePagination-selectLabel {
  margin-bottom: 0; /* Adjust as needed */
}

/* Remove margin in page */
.MuiTablePagination-displayedRows {
  margin-bottom: 0; /* Adjust as needed */
}

.react-dialog-backdrop {
  background-color: rgba(0, 0, 0, 0.2); /* Change the background color and opacity as needed */
}
/* .sideBarli:hover {
  background-color: #c5fccb;
  color: #55fa67;
  border-radius: 15px;
} */

.bxli:hover{
  background-color: #ebebeb;
}

.tabbod:hover{
  background-color: #ebebeb;
}

.logo-main{
  img{
    width: 80px;
    height: 80px;
  }
}

.text-black{
  font-family: 'Times New Roman';
}
